.ordem-compra {
    margin-top: 30px;
    margin-bottom: 70px;

    .form-row {
        background: #FAFAFA; 
        padding: 20px; 
        border-bottom: solid 1px #F0F0F0;
    }

    .btn-link {
        text-decoration: none;
    }

    .menos {
        border: solid 1px red;
        color: red;
    }

    .menos:hover {
        background-color: red;
        color: #fff;
    }

    .mais {
        border: solid 1px blue;
        color: blue;
    }

    .mais:hover {
        background-color: blue;
        color: #fff;
    }

    span {
        padding: 10px;
    }
}

input.ng-invalid.ng-touched, select.ng-invalid.ng-touched { 
    border: solid 1px red;
}

input.ng-valid.ng-touched, select.ng-valid.ng-touched { 
    border: solid 1px green;
}

.zerado {
    background: #FAFAFA; 
    padding: 20px; 
    border-bottom: solid 1px #F0F0F0;
}